
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding: 20px 30px;
  color: #f7f7f7;
  background-color: #32526E;
  -webkit-box-shadow: 1px 0px 23px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 23px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 23px -4px rgba(0, 0, 0, 0.75);
  font-size: 12px;
}

.footer .heading{
  font-size: 14px;
  font-weight: bold;
}

.footer a{
  color: #fff;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}

.white{
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -17px rgba(0, 0, 0, 0.75);
}


.white-table{
  background-color: #fff;
  padding: 20px;
}

h2{
  margin-top: 0;
}

.float{
  position: relative;
}

.float .message{
  display: none;
  position: absolute;
}

.float:hover .message{
  display: block;
  top: 10px;
  left: 79px;
  width: 150px;
  padding: 10px;
  background-color: #d9534f;
  color: #fff;
  border: 1px solid #fff;
}

.message .arrow_box {
  position: relative;
  background: #ffffff;
}
.message .arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.message .arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #d9534f;
  border-width: 19px;
  margin-top: -10px;
}
.message .arrow_box:before {
  border-color: rgba(238, 238, 238, 0);
  border-right-color: #eee;
  margin-top: -10px;
}